@font-face {
  font-family: "TheWildBreathofZelda";
  src: local("TheWildBreathofZelda"),
    url("./fonts/TheWildBreathofZelda.ttf") format("truetype");
  font-weight: normal;
}

body {
  font-family: TheWildBreathOfZelda;
  margin: 0;
}
